
    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
      <div class="container">
      <a class="navbar-brand">Ofertitas.club</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" routerLink="/home">Home <span class="sr-only">(current)</span></a>
          </li>
    
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              Categorias
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </li>

          <!--===========================
            -------dropdown
            ============================-->

            <div class="dropdown">
              <input #input  (keyup)=buscar(input.value) class="form-control mr-sm-2" type="search" placeholder="Search" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">

              <div id="menu" class="dropdown-menu" style="width:800px" aria-labelledby="dropdown_coins">

                  <ul class="list-unstyled"  id="empty">
                    <li class="media "*ngFor="let p of busqueda">
                      <img class="img-thumbnail" style="width:50px; height:50px" [src]="p.image" alt="">
                      <div class="media-body" >
                        <a [href]="p.link" target="_blank" class="btn btn-outline-dark  btn-block align-self-end btn-block">{{p.title | desCorta}} </a>
                      </div>
                    </li>
                  </ul>

                <button class="btn btn-outline-success my-2 my-sm-0 float-right" type="submit" (click)=nuevaBusqueda(input.value)>Search</button>
              </div>
            </div>
          </ul>

      </div>
      </div>
    </nav>
