

  <div class="row d-flex justify-content-center" *ngIf="products">
 
  <div class="card-deck card-columns" *ngFor="let p of products">
    <div class="card h-100  " style="width: 20rem;">
      <img [src]="p.image" class="card-img-top" alt="...">
      <div class="card-body ">
        <h5 class="card-title font-weight-bold">{{p.title | desCorta}}</h5>
        <!-- <p class="card-text">{{p.description | desCorta}}</p> -->
  
        <div class="card-footer bg-transparent  align-items-end ">
          <a class="btn btn-danger btn-block align-self-end"> <i class="fas fa-arrow-down"></i> Precio:
            {{p.base_price}}</a>
          <a class="btn btn-success btn-block align-self-end"><i class="fas fa-euro-sign"></i> Oferta:
            {{p.current_price}}</a>
          <a [href]="p.link" target="_blank" class="btn btn-outline-dark  btn-block align-self-end"><i
              class="fas fa-cart-arrow-down"></i> Ir oferta</a>
  
        </div>
  
      </div>
    </div>
  

  
  </div>
  <nav class="fixed-bottom">
    <ul class="pagination justify-content-center pagination-lg ">
      <li class="page-item ">
        <button class="page-link pointer border border-dark" (click)="setPagina(1) "
          [disabled]="!prevBtn">Previous</button>
      </li>
  
      <li class="page-item">
        <button class="page-link pointer border border-dark" (click)="setPagina(2)"
          [disabled]="!nextBtn">Next</button>
      </li>
    </ul>
  </nav>
  <br>
  <br>
  

  </div>

